.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 790px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 700px) {
  .place__title {
    font-size: 10vw;
    line-height: 109%;
    padding: 0 5vw;
  }
}