.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 790px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 15vw;
    align-items: start;
  }
}